.record-content {
    .record-type {
        border:1px solid #c5c5c5;
    }
}

.record-type {
    padding:10px 0;
    text-transform: capitalize;
}


li.record-item {
    opacity:1;
    transition:opacity 0.25s;
    &:hover {
        opacity:0.65;
    }
}

.record-item {
    color: #2e2e2e;

    a {

        color:inherit;


        &:hover {
            color:inherit;
        }
    }
}


.item-htpasswd {
    background: #ca9939;
    color:#FFFFFF;

//    a {
//        color:#FFFFFF;
//    }
}

.item-software-license {
    background: #428bca;
    color:#FFFFFF;

//    a {
//        color:#FFFFFF;
//    }

}

.item-server-login {
    background: #cecf44;
//    a {
//        color:#000000;
//    }

}

.item-weblogin {
    background: #FFFFFF;
}

.item-database {
    background: #cf7126;
    color:#FFFFFF;
}

.item-dns-account {
    background: #2e2e2e;
    color:#FFFFFF;
}