html, body {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
}

a, p, span, div {
    color:#5a5a5a;
}

input, textarea {
    outline:none;
}

.logo {
    a {
        text-decoration:none;
    }

    span {
        display:block;
        padding:20px 0;
    }
}

.logo, .login {
    margin:auto;
    width:350px;
    display:block;
    text-align:center;
}

.login {
    input[type="text"],
    input[type="password"]{
        width:100%;
        padding:7px;
    }
    input {
        margin-bottom:10px;
    }
}



.bg-danger, .bg-info {
    padding:5px;
}

.main-wrap {
    margin:auto;
    display:block;
    width:900px;
}

.control-sidebar {
    width:100%;
    float:left;
    box-shadow:0px 0px 7px #7d7d7d;
    border:1px solid #a9a9a9;
    padding:20px;
    margin-bottom:20px;

    form {
        margin-bottom:0;
    }

    input[type="search"] {
        padding:3px;
        border-radius:7px;
    }
}

.main {
    float:left;
    width:100%;
    ul {

        float:left;
        list-style-type:none;
        margin:0 2% 0 0;
        padding:0;
        width:40%;
        li {
            min-height:30px;
            line-height:30px;
            padding:7px;
            display:block;
            border:1px solid #c5c5c5;
            margin:4px 0;

//            &:nth-child(odd) {
//                background: #cecf44;
//            }


            a {
                display:block;
                width:100%;
                height:auto;
            }
        }
    }

    .record-content {
        width:58%;
        float:right;
    }


}


.btn-new {
    margin-right:20px;
}

footer {
    padding:50px 0 30px;
}

.show-grid {
    margin-bottom:20px;
}





@import "types";
@import "menu";